body{
  background-color: #ffd633;
  background-image: url(Lakeith.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 20px;
  width: 80%
}

.fontcombined {
font: bold 20px Impact, sans-serif;
padding: 20px;
}

.fonttogether {
  font: bold 80px Impact, sans-serif;
  padding: 20px;
}

.bordertop {
  border-top: 2px solid #9933ff;
  padding: 10px 10px 0 0;
  width: 60%
}

.borderbottom {
  border-bottom: 2px solid #9933ff;
  width: 60%
}

.imgbox {
  padding: 10px;
}

a:hover {
 color: red;
 text-decoration: underline;
}

a:link {
 color: magenta;
 text-decoration: none;
}

h1{
  color: magenta;
}

.spanstyle {
  color: red;
}

.pink {
  color: magenta;
}

.purple {
  color: #8a0cc9;
}

.ptfont {
  font-size: 50px;
  color: #8a0cc9;
}
.textjustify {
  text-align: justify;
}

nav {
  padding: 50px;
  margin: 10px;
}

header {
  padding: 50px;
  margin: 50px;
}
